.form-search {
    position: relative;
    width: 361px;
    height: 46px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 16px;
    background: rgba(22, 24, 35, 0.06);
    border-radius: 92px;
    position: relative;
    margin: auto;
    border: 1.5px solid transparent;
    &::after {
        position: absolute;
        content: '';
        top: 9px;
        right: 52px;
        height: 28px;
        width: 1.5px;
        background: rgba(22, 24, 35, 0.12);
    }
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}
// .logo {
// }
.search-input {
    width: 292px;
    height: 22px;
    font-size: 16px;
    line-height: 22px;
    flex: 1;
    background-color: transparent;
    caret-color: var(--primary);
    padding-right: 30px;
}
.searchResult {
    width: 361px;
    padding-top: 8px;
}
.search-input:not(:placeholder-shown) ~ .search-btn {
    background-color: rgba(22, 24, 35, 0.03);
    color: rgba(22, 24, 35, 0.75);
}
.clear-btn {
    position: absolute;
    right: 52px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.loading {
    position: absolute;
    right: 56px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
    animation: spinner 0.8s linear infinite;
}
@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}
.search-btn {
    width: 52px;
    height: 46px;
    cursor: pointer;
    background: transparent;
    margin-left: 0;
    font-size: 2rem;
    color: rgba(22, 24, 35, 0.34);
    border-radius: 0 92% 91% 0;
    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
    i {
        margin-right: 5px;
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
