.wrapper {
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
    width: 100%;
}
.content {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    justify-content: space-between;
}

.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    background-color: transparent;
    padding: 8px;
    cursor: pointer;
}
