@import 'normalize.css';

:root {
    --primary: #fe2c55;
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --text-color: #333;
}
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'ProximaNova', sans-serif;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    color: var(--text-color);
}
button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a[href] {
    text-decoration: none;
}
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/ProximaNova-Semibold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/sofiapro-bold.woff');
    font-weight: 700;
}
