.menu-item {
    display: flex;
    font-family: 'IBM Plex Sans', ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: bolder;
    font-size: 18px;
    line-height: 25px;
    margin-left: -8px;
    padding: 8px;
    border-radius: 4px;
    transition: background-color ease-in-out 200ms;
    min-height: 48px;
    color: black;
    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
    &.active {
        color: var(--primary);
    }
}
.icon {
    width: 32;
    height: 32;
    margin-right: 10px;
}
